{% extends 'intobase.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

  <div class="container py-4 justify-content-center">
            
    <div class="d-block mx-auto text-center ">

      <a class="btn btn-lg bg-dark border border-success fs-1 fw-bold p-2 my-3 p-3" href="{{ path("app_produit") }}" > SHOP NOW</a>

    </div>

  </div>

{% endblock %}
