<div class="container py-4">
	{{ form_start(form,{'attr': { 'class' : 'col-md-7 col-lg-5 mx-auto' } }) }}
	{{ form_widget(form) }}
	<button class="btn bg-primary text-white">{{ button_label|default('Enregistrer') }}</button>
	{{ form_end(form) }}
</div>
