{% extends 'base.html.twig' %}

{% block title %}New Categorie
{% endblock %}

{% block body %}

	<div class="container py-4">

		<h2 class="text-center text-white bg-primary col-md-7 col-lg-7 py-4 mx-auto my-2">Create new Categorie</h2>

		{{ include('admin_cat/_form.html.twig') }}

		<a href="{{ path('app_admin_cat_index') }}">back to list</a>

	</div>

{% endblock %}
